/*The Default stylesheet will be applied to all the pages on the website, and includes repetitive elements, classes or ids. */


h1, h2, h3, h4, h5, h6, p, li, a, dl {
	font-family: helvetica, arial;
}

.float-left{
	float: left;
}

.clear-float {
	clear: both;
}

#center-page{
	width: 960px;
	margin: auto;
}

#logo{
	width: 34%;
	height: 80px;
}

#logo > h1 {
	margin-left: 20%;
}

nav {
	width: 66%;
	height: 80px;
}

nav > ul {
	list-style-type: none;
}

nav > ul > li {
	float: left;
	width: 25%;
	padding-top: 1.2em;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: orange;
}

p > a {
	color: orange;
}

p > a:hover {
	color: gray;
}
.active-tab {
	font-weight: bold;
	text-decoration: underline;
}

.copyright{
	width: 66%;
	height: 24px;
}

.copyright > p {
	margin: 0 auto;
	padding: 2px;
	text-align: center;
}

.social-links{
	width: 34%;
	height: 24px;
}

.social-links a{
	float: right;
	margin-right: 4px;
}

a.facebook{display:block; background: url(../imgs/social-sprite.png) no-repeat 0 -30px; width:30px; height:30px;}
a.facebook:hover{background-position: 0 0;}
 
a.twitter{display:block; background: url(../imgs/social-sprite.png) no-repeat -30px -30px; width:30px; height:30px;}
a.twitter:hover{background-position:-30px 0;}
 
a.github{display:block; background: url(../imgs/social-sprite.png) no-repeat -60px -30px; width:30px; height:30px;}
a.github:hover{background-position:-60px 0;}
 
a.instagram{display:block; background: url(../imgs/social-sprite.png) no-repeat -90px -30px; width:30px; height:30px;}
a.instagram:hover{background-position:-90px 0;}
 
a.linkedin{display:block; background: url(../imgs/social-sprite.png) no-repeat -120px -30px; width:30px; height:30px;}
a.linkedin:hover{background-position:-120px 0;}
 
a.mail{display:block; background: url(../imgs/social-sprite.png) no-repeat -150px -30px; width:30px; height:30px;}
a.mail:hover{background-position:-150px 0;}